# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#Python
*/venv/

# dependencies
frontend/node_modules
frontend/package-lock.json
/.pnp
.pnp.js

# testing
/coverage

# next.js
frontend/.next/
frontend/out/

# production
server/golang/build
frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
frontend/.env
frontend/.env
!.env*.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# intellij
.idea
.iml
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Golang
server/go.sum
server/golang/pkg

